*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{background-image: url(../assets/img/abstract-background-with-wavy-line-Graphics-32607263-2-580x387-PhotoRoom.png);
    background-size: 100rem;
}

/* ----------------------------HEADER------------------------ */
header{
    height: 20vh;
    position: relative;
    width: 100%;
    
}
header button{
    display: inline-block;
    position: relative;
    bottom: 50px;
    left:65%
}
header img {
    height: 20vh;
    position: relative;
    left: 60px;
    padding: 0;
    
}

header h1{
    display: inline-block;
    position: relative;
    bottom: 80px;
    left: 35%;
    text-align: center;
    font-size: 40px;
    color: aliceblue;
}


/* ----------------------------NAV------------------------ */

header nav{
    display: inline-block;
    position: relative;
    border-radius: 3px;
    display: inline-block;
    bottom: 40px;
    right: 200px;
    
    
}



header nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: #0f89ee;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 27px;
    font:bold;
    
    
    
}

h3{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue !important;


}

header nav ul li{
    display: inline-block;
    list-style-type: none;
    background-color: rgba(128, 128, 128, 0.199);
    border-radius: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 0px;
    width: 35vh;
    text-align: center;    
    border-color: black;
    
    
}

nav img{
    position: relative;
    height: 20vh;
    left: 60px;
}



.nav-item:hover{
    background-color: rgba(62, 200, 254, 0.529);
}


/* ----------------------------MAIN------------------------ */

main{
    height:700px ;
    
}

aside{
    display: inline-block;
    height: 100%;
    width: 15%;
    background-color: #3333338a;
    border-radius:  100px;;
    color: aliceblue;


}

section{
    position: absolute;
    display: inline-block;
    height: 700px;
    width: 85%;
    
}

aside div{
    margin-top: 20px;
    height: 75px;
    border:5px;
    border-color: #333333;
    align-items: center;
    
}
aside div img{
    height: 73px;
    width: 80px;
}

aside div h3{
    position: absolute;
    display: inline-block;
    font-size:20px;
}


aside div h4{
    position: relative;
    display: inline-block;
    bottom: 20px;
    font-size: 12px;
}


section article{
    position: relative;
    margin: 50px;
    width: 95%;
    height: 40%;
    background-color: #302f2f2a;
    border-radius: 5px;
    

}

section article div{
    position: relative;
    display: inline-block;
    height: 85%;
    width: 150px;
    margin: 15px 32px;
    border-radius: 7px;
    bottom: 10px;
    padding: 6px;
    text-align: center;
    overflow:hidden;
    background-color: #acacac0e;

}

section article div img{
    position: relative;
    height: 180px;
    width: 100%;
}
section article div h3{
   position: relative;
   display: inline-block;
   top: 5px;
}


.playlist{
    display: inline-block;
    position: relative;
    background-color: #acacac0e;
    margin: 20px;
    height: 30vh;
    width: 80vh;
    align-items: center;
    left: 10vh;
    padding: 15px;


}
.playlist h2{
    display: inline-block;
    font-size: 40px;
    position: relative;
    bottom: 70%;
    color: aliceblue;


    
}

.playlist img{
    position: relative;
    width:180px;
    height: 180px;
    display: inline-block;
}

.playlist p{
    position: relative;
    display:inline-block;
    bottom: 15vh;
    left:27vh;
    color: aliceblue;
}


.artistas{
    display: inline-block;
    position: relative;
    margin: 10px;
    left: 100px;
    width: 100%;
    height: 50%;
    padding: 15px;
    
}

.artistas div{
    position: relative;
    display: inline-block;
    height: 40%;
    width: 44%;
    text-align: justify;
}
.artistas div h3{
    display: inline-block;
    position: absolute;
    font-size: 40px;
    color: aliceblue;
    
}

.artistas h2{
    color: aliceblue;

}

.artistas div img{
    margin: 10px;
    width: 100px;
    height: 100px;
}


.genero{
    display: inline-block;
    position: relative;
    margin-top: 50px;
    left: 100px;
    width: 100%;
    height: 500px;
    padding: 15px;}

.genero div{
    position: relative;
    display: inline-block;
    height: 180px;
    width: 180px;
    text-align: justify;
    left: 50px;
}

.genero div img{
    position: relative;
    display: inline-block;
    height: 150px;
}


.play{width:180px;
    height: 180px}


.articul{
    align-items: center;
    text-align: center;
    background-color: #33333342 !important;
    border-radius: 10px;
    
}
div p{
    color: aliceblue;
}

h5{    color: aliceblue !important;
}





#contenedor{
    position: relative;
    display: inline-block;
    height: 300px;
    width: 500px;
    background-color: #0f89ee;
    align-items: center;
    justify-content: center;
    top: 20px;
    left: 35%;
    
}
#central {
    width: 100%;
}
.titulo {
    font-size: 250%;
    color:#bbe1fa;
    text-align: center;
    margin-bottom: 20px;
}
#login {
    width: 100%;
    padding: 50px 30px;
    background-color: #3282b8;
    border-radius: 3px;
}

#login input{
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    border-radius: 3px ñ
}
#login button {
    font-size: 110%;
    color:#1b262c;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background-color: #bbe1fa;
    margin-top: 10px;
}

.pie-form {
    font-size: 90%;
    text-align: center;    
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #bbe1fa;
    margin-bottom: 3px;
}


.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.inferior a {
    display: block;
    text-decoration: none;
    color: #bbe1fa;
    margin-bottom: 3px;}

    
    




/* ----------------------------FOOTER------------------------ */

footer{
    height: 1vh;
    text-align: center;
    margin: 10px;
}

footer img{
    width: 30px;
    margin: 30px;
    position: relative;
    left: 30vh;
}

#logo2{
    width: 60px;
}
.term{
    margin: 10px;
    position: relative;
    display: inline;
    text-decoration: none;
    color: aliceblue;
}
.fot{
    width: 20px !important;
    margin: 10px;
    position: relative;
    }


 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) { 
    .rec1{
        height: 100% !important;
}

    .rec{
        height: 80px !important;
    }
    .term{
        font-size: 5px;
        overflow: hidden;
    }
    .fot{
        width: 10px !important;
        position: relative;
        }

    nav img{
        position: relative;
        left: 10px;
        height: 70px;
    }
    h1{
        position:relative;
    color: aliceblue!important;
    right: 40px;
}
    .bot2{position: relative;
    right: 60%;}

    nav button a {
        text-decoration: none;
        height: 30px;
        font:bold;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    button:hover{
        background-color: rgba(62, 200, 254, 0.529);}


    .navbar-toggler{
        color:rgba(240, 248, 255, 0.515) !important
    }
    .dash{
        background-color: rgba(240, 248, 255, 0.285)!important
    }
    
    .nav-link{
        
        text-decoration: none;
        color: #0f89ee !important;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 20px !important;
        font:bold;
        text-align: center;
    }
    nav button{
        margin: 3px;
        height: 35px;
        width: 60px;
        display: inline;
        position: relative;
        bottom: 10px;
        right:0%;
        background-color: rgba(128, 128, 128, 0.199);
        border: none;
        border-radius: 2px;
}

    .card-body{
        padding: 0px !important;
    }
.play{
    width: 100px;;
    height: 100px;
}

}



@media (min-width: 576px){
    .bot1{
        position: relative;
        ;
    }
    .bot2{right: 81%;}
    nav button{
        margin: 3px;
        height: 35px;
        width: 50px;
        position: relative;
        bottom: 10px;
        background-color: rgba(128, 128, 128, 0.199);
        border: none;
        border-radius: 2px;
        
}
.term{
    font-size: 10px;
    overflow: hidden;}

    .rec{
    height: 150px !important;
}

.play{
    width: 160px;;
    height: 160px;
}

}

 /* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    nav button{
        margin: 3px;
        height: 45px;
        width: 60px;
        right: 30px;
        position: relative;
        border-radius: 2px;
}
    .bot1{left:10px}

    .rec1{
        width: 30px;
}


.play{
    width: 200px;;
    height: 200px;
}





}




 /* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    nav img{
        position: relative;
        height: 15vh;
        left: 0px;
    }

    h1{
        
        position: relative;
        left: 200px;
        bottom: 20px;
        color: aliceblue!important
    }
    .bot2{
        position: absolute;
        left: 90%;}
    .bot1{position: absolute;
        left: 83%;
    }

    button:hover{
        background-color: rgba(62, 200, 254, 0.529);}
    
        .nav-link{
            position: relative;
            bottom: 6px;
            text-decoration: none;
            color: #0f89ee !important;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 20px !important;
            font:bold;
            text-align: center !important;} 
        
        .nav-item{
            position: relative;
            top: 55px;
            right: 15px;
            list-style-type: none;
            background-color: rgba(128, 128, 128, 0.199);
            border-radius: 2px;
            padding-top: 0%;
            padding-bottom: 30px !important;
            margin: 3px;
            width: 30vh;
            height: 30px;
            text-align: center;    
            border-color: black;}

            .fot{
                width: 20px !important;
                margin: 10px;
                position: relative;
                }
            
 }

 /* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    h1{
    position: relative;
    left: 330px;
    bottom: 20px;
    font-size: 40px;
    color: aliceblue!important}

    .nav-link{
        position: relative;
        bottom: 6px;
        text-decoration: none;
        color: #0f89ee !important;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 27px !important;
        font:bold;
        
        text-align: center !important;} 
    
    .nav-item{
        position: relative;
        top: 55px;
        right: 55px;
        background-color: rgba(128, 128, 128, 0.199);
        border-radius: 2px;
        padding-top: 0%;
        padding-bottom: 30px !important;
        margin: 3px;
        width: 30vh;
        height: 40px;
        text-align: center;    
        border-color: black;}


    .bot1{
        position: absolute;
        left: 84%;
    }
    .bot2{
        position: absolute;
        left: 90%;
    }


    .rec{
        height: 100px !important;
    }

    .rec1{
        height: 100% !important;
    }

    .fot{
        width: 30px !important;
        margin: 20px;
        position: relative;
        }



}

@media (min-width: 1400px){
    nav button{
        margin: 3px;
        height: 25px;
        width: 80px;
        display: inline;
        position: relative;
        bottom: 10px;
        background-color: rgba(128, 128, 128, 0.199);
        border: none;
        border-radius: 2px;
}

    nav button a {
        text-decoration: none;
        height: 30px;
        font:bold;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}
