

$bg-primary:  #0e0d0d86 !important;
$bg-secondary: #0fee98 !important;
$nav-foot: #333 !important;
$hover-button:  rgba(62, 200, 254, 0.529) !important;
$color-text:  aliceblue;

$font-primary:'Permanent Marker', cursive;
$font-secondary: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

$redes: ( 
    facebook:  #3a5795,
    instagram: #e4405f ,
    twitter: #55acee ,
    linkedind:#007785 ,
    ); 
