
main{
    
    .lbl-modal{
        cursor: pointer;
        width: 100%;
    }
    #btn-modal1, #btn-modal2,#btn-modal3,#btn-modal4,#btn-modal5,#btn-modal6{
        display: none;
    }
    
    .modal{
        width: 100%;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
    }

    #btn-modal1:checked~ .modal{
        display: flex !important;
        
    }
    #btn-modal2:checked~ .modal{
        display: flex !important;
        
    }#btn-modal3:checked~ .modal{
        display: flex !important;
        
    }#btn-modal4:checked~ .modal{
        display: flex !important;
        
    }#btn-modal5:checked~ .modal{
        display: flex !important;
        
    }#btn-modal6:checked~ .modal{
        display: flex !important;
    }
    
    

    .modal-contenedor{
        @include mobile{
            width: 50vh;
            height: 40vh;
        }
        
        @include xlmobile{
            width: 90vh;
            height: 60vh;
        }
        
        margin: auto;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
        transition: all 500ms ease;
        position: relative;
        overflow: auto;
        overflow: scroll;
        overflow-x: hidden;
            &::-webkit-scrollbar{
                border-radius: 20px; 
                width: 4px;
            }
            &::-webkit-scrollbar-thumb{
                border-radius: 20px;       
                background-color: $bg-primary;
            }
            

        

        &__enc{
            position: fixed;
            border-radius: 10px;
            
            
            & h2{
                @include mobile{
                    width: 50vh;

                }
                

                @include xlmobile{
                    width: 90vh;
                    
                }

                border-radius: 10px;

                padding: 5px;
                background-color:$bg-terciary;
                color: #fff;
                margin-bottom: 10px;

            }
            & label{
                position:absolute;
                top: 10px;
                right: 10px;
                color: #fff;
                font-size: 15px;
                cursor: pointer;
                
            }
        }
        
    }

    .modal-contenido{
        margin-top: 9vh;
        
        & h4{
            
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin: 20px;
            @include mobile{
                font-size: 15px;
            }
            @include tablet{
                font-size: 25px;
            }


        
        }

    
    }

    .artista{
        
        background-color: #33333342 !important;
        border-radius:5px !important;
        height: 30vh;
        padding: 5px;
            &:hover{
                
                background-color: $bg-primary;
                
            }
        @include xlmobile{
            height: 40vh;
        }
        @include desktop{
        padding: 20px;
        height: 58vh;

        }
       &__img{
        
        -moz-border-radius:100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        box-shadow: 2px 10px 30px 2px black;

            @include mobile {
                height: 20vh;
            }
            
            @include xlmobile{
                height: 30vh;

            }

            @include desktop{
                height: 50vh !important;
                margin-bottom:15px;

            }
       }


        &__body{
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
            &__title{

                font-family: $font-secondary;
                color: whitesmoke;
                text-shadow:  10px 10px 20px  black ;
                font-size: 15px;
                
  
                @include desktop{
                    font-size: 27px;
                }
            }   
       }
        

    }

}

