
main{
    .genero{
        background-color: #33333342 !important;
        border-radius:5px !important;
        height: 30vh;
        padding: 5px;
            &:hover{
                
                background-color: $bg-primary;
                
            }
        @include xlmobile{
            height: 30vh;
        }
        @include desktop{
        padding: 20px;
        height: 37vh;

        }
       &__img{
        
        border-radius: 5px;
        box-shadow: 2px 10px 30px 2px black;

            @include mobile {
                height: 20vh;
            }
            
            @include xlmobile{
                height: 20vh;

            }

            @include desktop{
                height: 25vh !important;
                margin-bottom:5px;
            }
       }


        &__body{
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 10px;
            &__title{

                font-family: $font-secondary;
                color: whitesmoke;
                text-shadow:  10px 10px 20px  black ;
                @include mobile{
                    font-size: 13px;
                }
                
  
                @include desktop{
                    font-size: 17px;
                }
            }   
       }
        

    }
    
}

