
main{
   
    
    .articul{
    
        background-color: $main;
        border-radius: 15px !important;
        
        
        
       &__img{
        width:100%;
        height: 180px;
        border-radius: 15px !important;
       }
    
       &__title{
                font-family: $font-primary;
                color: $bg-terciary;
                text-shadow:  10px 10px 30px ;
                font-size: 30px;
                white-space: nowrap;
                text-overflow: ellipsis;
       }
       &__text{
        font-size: 15px;
        font-family: $font-text;
        white-space: nowrap;
        text-overflow: ellipsis;
       }
    }
}

